.item {
  display: flex;
  gap: 10px;

  padding: 10px 20px;

  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.043);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    -23px 0 20px -23px rgba(0, 0, 0, 0.6), 23px 0 20px -23px rgba(0, 0, 0, 0.6),
    inset 0 0 40px rgba(0, 0, 0, 0.1);

  align-items: center;
}

.status {
  display: block;

  width: 15px;
  height: 15px;

  border-radius: 50%;
}

.avatar {
  padding: 5px;

  border-radius: 10%;
  background-color: rgba(128, 128, 128, 0.16);
  box-shadow: 0px 1px 1px #0000006b;
}

.name {
  font-weight: 600;
  text-transform: uppercase;

  color: #2b3d52;
}
